
#timedate {
  font: small-caps lighter 23px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:left;
  width: 400px;
  margin: 20px right;
  color:white;
  border-left: 3px solid #7e7e7e;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}































